extends ../layout

block content

    - if(typeof(employee) !== 'undefined')
        form.form-horizontal(role="form", method="post")
            input(name="_id", type="hidden", value=employee._id.toHexString())
            .form-group
                label.col-sm-2.control-label(for="editEmployeeTitle") Title
                .col-sm-4
                    input#editEmployeeTitle.form-control(type="text" placeholder="Title", name="title", value=employee.title)
            .form-group
                label.col-sm-2.control-label(for="editEmployeeName") Name
                .col-sm-4
                    input#editEmployeeName.form-control(type="text" placeholder="Name", name="name", value=employee.name)
            .form-group
                .col-sm-4.col-sm-offset-2
                    input.btn.btn-success.pull-right(type="submit", value="Save")
                    a.btn.btn-link.pull-right(href="/employees") Cancel
