extends ../layout
block content
    #employees
        - if(typeof(employees) !== 'undefined')
            table.table.table-condensed
                thead
                    tr
                        th Date
                        th Title
                        th Name
                        th
                tbody
                    - each employee in employees
                        tr
                            td= employee.created_at
                            td= employee.title
                            td= employee.name
                            td
                                .btn-group
                                    a.btn.btn-sm.btn-link(href="/employees/edit/" + employee._id.toHexString())
                                        i.fa.fa-pencil
                                    a.btn.btn-sm.btn-link(href="/employees/delete/" + employee._id.toHexString())
                                        i.fa.fa-times

        a(href="/employees/new")!= "Add New Employee"