decoration()
    text-decoration underline

uppercase()
    text-transform uppercase

radius(args...)
    -webkit-border-radius args
    -moz-border-radius args
    border-radius args

margin-center()
    margin 0 auto