extends ../layout

block content
    .row
        .form-signin
            form.form-horizontal(autocomplete="off", role='form', action="/login", method="post")
                !=form
                .form-group
                    .col-sm-offset-4.col-sm-8
                        a.btn.btn-link.btn-cancel.pull-left(href='/') Cancel
                        button.btn.btn-success.btn-submit.pull-right(type='submit') Login
