.todo.file-list
    - if(typeof list !== "undefined")
        .todo-search
            | /
        ul
            - each item in list
                li(class=(item.is_dir === true)? "folder" : "file", data-path="#{item.path}")
                    - if (item.is_dir === true)
                        .todo-icon.fa.fa-folder-open-o
                    - else
                        .todo-icon.fa.fa-file-o
                    .todo-content
                        h4.todo-name.pull-left
                            = ' ' + item.title
                        span.todo-size.pull-right
                            - if (item.is_dir === true)
                                | -
                            - else
                                = item.size
                        input.json-data(type='hidden', value=JSON.stringify(item))
